* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}

body {
    background-color: #080037
}

/* portfolio-new/styles/Sidebar.css */
.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: var(--second-bg-color);
    padding-top: 20px;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 20px 0;
  }
  
  .sidebar nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar nav ul li a:hover {
    text-decoration: underline;
  }
  
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
  }

  .content {
    margin-left: 0;
    width: 100%;
  }

  .projects-container {
    flex-direction: column;
  }

  .right-column {
    width: 100%;
  }
}