body {
  margin: 0;
  font-family: 'Gruppo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #050214;
  /* background-image: linear-gradient(#050214, #5f5ced) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*PHONE*/
@media (max-width: 768px) {
  body {
    background-color: #050214;
  }
}